<!DOCTYPE html>
<html lang="en" manifest="manifest.appcache">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#2196F3">
    <meta charset="UTF-8">
    <title>Material Player</title>
    <link rel="icon" type="image/png" href="icon.png">
    <link id="theme-link" rel="stylesheet" href="assets/css/material.blue-pink.min.css" />
    <link id="font-link" rel='stylesheet' href='' type='text/css'>
    <link rel="stylesheet" href="bundle.css">
    <style id="current-font"></style>
</head>
