            <section class="mdl-layout__tab-panel is-active" id="playlist">
                <div class="page-content">
                    <table id="playlist-view" class="mdl-data-table mdl-shadow--2dp">
                        <tr>
                            <td>
                                <h4 class="open-dialog" href="#open">Drop files here to play!</h4>
                            </td>
                        </tr>
                    </table>
                </div>
            </section>
