            <section class="mdl-layout__tab-panel" id="yt">
                <div class="page-content">
                    <div id="buttons">
                        <div class="mdl-textfield mdl-js-textfield">
                            <label class="mdl-textfield__label" for="query">Search Query</label>
                            <input id="query" class="mdl-textfield__input" type="text">
                        </div>
                    </div>
                    <table id="search-container" class="mdl-data-table mdl-shadow--2dp">
                    </table>
                </div>
            </section>
